.alt-header {
  padding: var(--horizontal-space);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alt-header-column {
  width: 33%;
}

.alt-header-title {
  font-size: 28px;
  font-weight: 600px;
}

.alt-header-column:first-child {
  margin-right: auto;
}

.alt-header-column:nth-child(2) {
  text-align: center;
}

.alt-header-column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header-column span:last-child {
  margin-left: 20px;
}
